
{% load static %}
{%block tweets%}
  {% for object in object_list %}
    <div class="column is-9">
      <div class="box content">
        <article class="post">
          <h4>{{object.content}}</h4>
          <span class="pull-right has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
          <div class="media">
            <div class="media-left">
              <p class="image is-32x32">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <a href="/tweet/detail/{{object.id}}">@{{object.user}}</a> {{object.created|timesince}}  &nbsp;
                  <a class="tag is-primary" href="/tweet/detail/{{object.id}}/edit">Edit</a>
                  <a class="tag is-danger" href="/tweet/detail/{{object.id}}/delete">Delete</a>
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  {% endfor %}
{%endblock%}
